@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700|Righteous|Cabin:400,700");
/*-------------------------------
  VARIABLES - COLOR
-------------------------------*/
/*-------------------------------
  THEME - DEFAULT
-------------------------------*/
.yu-theme-default {
  /* チェックボックス */
  /* ラジオボタン */
  /* アラート */
  /* ラベル */
  /*-------------------------------
  HEADER
  -------------------------------*/
  /*-------------------------------
  ASIDE - サイドバー
  -------------------------------*/
  /*-------------------------------
  MAIN - COLOR HEAD BOX
  -------------------------------*/
  /*-------------------------------
  MAIN - PAGER
  -------------------------------*/ }
  .yu-theme-default input[type=button] {
    /* 更新ボタン */
    /* 削除ボタン */ }
    .yu-theme-default input[type=button].yu-update-btn {
      background: #FB929E;
      border-bottom: 4px solid #f96172; }
      .yu-theme-default input[type=button].yu-update-btn:hover {
        border-bottom: 2px solid #f96172; }
      .yu-theme-default input[type=button].yu-update-btn:active {
        background: #fa7988; }
    .yu-theme-default input[type=button].yu-delete-btn {
      background: #90D4E1;
      border-bottom: 4px solid #68c4d6; }
      .yu-theme-default input[type=button].yu-delete-btn:hover {
        border-bottom: 2px solid #68c4d6; }
      .yu-theme-default input[type=button].yu-delete-btn:active {
        background: #7cccdc; }
  .yu-theme-default .yu-chk-box label {
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 22px;
    margin-right: 15px;
    cursor: pointer; }
    .yu-theme-default .yu-chk-box label::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 14px;
      height: 14px;
      margin-top: -8px;
      background: #fff;
      border: 1px solid #ccc; }
  .yu-theme-default .yu-chk-box input[type="checkbox"]:checked + label::after {
    border-left: 2px solid #FB929E;
    border-bottom: 2px solid #FB929E; }
  .yu-theme-default .yu-rdo-box label::after {
    background: #FB929E; }
  .yu-theme-default .yu-rdo-box input[type="radio"]:checked + label::before {
    border: 1px solid #FB929E; }
  .yu-theme-default .yu-alert {
    background: #FB929E; }
  .yu-theme-default .yu-lbl-box .yu-lbl-pink {
    background: #FB929E; }
  .yu-theme-default .yu-lbl-box .yu-lbl-blue {
    background: #FAD783; }
  .yu-theme-default .yu-lbl-box .yu-lbl-yellow {
    background: #90D4E1; }
  .yu-theme-default .yu-lbl-box .yu-lbl-purple {
    background: #CDB1FB; }
  .yu-theme-default header {
    /* リスト */
    /* ログアウト */ }
    .yu-theme-default header ul li {
      position: relative;
      /* アイコンバッジ */ }
      .yu-theme-default header ul li.yu-badge::before {
        position: absolute;
        background: #FD7783; }
    .yu-theme-default header .yu-logout:hover {
      color: #FD7783; }
  .yu-theme-default aside {
    /* ユーザー情報 */
    /* リスト */ }
    .yu-theme-default aside .yu-user {
      /* ユーザー名 */ }
      .yu-theme-default aside .yu-user p span i {
        color: #FD7783; }
    .yu-theme-default aside ul {
      /* サブカテゴリ */ }
      .yu-theme-default aside ul li {
        /* アイコン */ }
        .yu-theme-default aside ul li:hover {
          background: #feeff1; }
        .yu-theme-default aside ul li i {
          color: #FB929E; }
      .yu-theme-default aside ul.yu-sub li:hover {
        background: #feeff1; }
  .yu-theme-default .yu-head-box.pink .fas {
    background: #FB929E; }
  .yu-theme-default .yu-head-box.yellow .fas {
    background: #FAD783; }
  .yu-theme-default .yu-head-box.blue .fas {
    background: #90D4E1; }
  .yu-theme-default .yu-head-box.purple .fas {
    background: #CDB1FB; }
  .yu-theme-default .yu-pager {
    /* 番号ページャー */ }
    .yu-theme-default .yu-pager.yu-foot-pager {
      margin: 10px 0 0; }
      .yu-theme-default .yu-pager.yu-foot-pager li.yu-now {
        border: 1px solid #CDB1FB !important;
        background: #CDB1FB !important; }
    .yu-theme-default .yu-pager.yu-head-pager li .fas:hover,
    .yu-theme-default .yu-pager.yu-foot-pager li:hover {
      color: #CDB1FB;
      border: 1px solid #CDB1FB; }

/*-------------------------------
  THEME - COOL
-------------------------------*/
.yu-theme-cool {
  /* チェックボックス */
  /* ラジオボタン */
  /* アラート */
  /* ラベル */
  /*-------------------------------
  HEADER
  -------------------------------*/
  /*-------------------------------
  ASIDE - サイドバー
  -------------------------------*/
  /*-------------------------------
  MAIN - COLOR HEAD BOX
  -------------------------------*/
  /*-------------------------------
    MAIN - PAGER
    -------------------------------*/ }
  .yu-theme-cool input[type=button] {
    /* 更新ボタン */
    /* 削除ボタン */ }
    .yu-theme-cool input[type=button].yu-update-btn {
      background: #7CB0ED;
      border-bottom: 4px solid #4f95e7; }
      .yu-theme-cool input[type=button].yu-update-btn:hover {
        border-bottom: 2px solid #4f95e7; }
      .yu-theme-cool input[type=button].yu-update-btn:active {
        background: #66a2ea; }
    .yu-theme-cool input[type=button].yu-delete-btn {
      background: #90D4E1;
      border-bottom: 4px solid #68c4d6; }
      .yu-theme-cool input[type=button].yu-delete-btn:hover {
        border-bottom: 2px solid #68c4d6; }
      .yu-theme-cool input[type=button].yu-delete-btn:active {
        background: #7cccdc; }
  .yu-theme-cool .yu-chk-box label {
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 22px;
    margin-right: 15px;
    cursor: pointer; }
    .yu-theme-cool .yu-chk-box label::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 14px;
      height: 14px;
      margin-top: -8px;
      background: #fff;
      border: 1px solid #ccc; }
  .yu-theme-cool .yu-chk-box input[type="checkbox"]:checked + label::after {
    border-left: 2px solid #7CB0ED;
    border-bottom: 2px solid #7CB0ED; }
  .yu-theme-cool .yu-rdo-box label::after {
    background: #7CB0ED; }
  .yu-theme-cool .yu-rdo-box input[type="radio"]:checked + label::before {
    border: 1px solid #7CB0ED; }
  .yu-theme-cool .yu-alert {
    background: #7CB0ED; }
  .yu-theme-cool .yu-lbl-box .yu-lbl-pink {
    background: #7CB0ED; }
  .yu-theme-cool .yu-lbl-box .yu-lbl-blue {
    background: #FAD783; }
  .yu-theme-cool .yu-lbl-box .yu-lbl-yellow {
    background: #90D4E1; }
  .yu-theme-cool .yu-lbl-box .yu-lbl-purple {
    background: #7C96ED; }
  .yu-theme-cool header {
    /* リスト */
    /* ログアウト */ }
    .yu-theme-cool header ul li {
      position: relative;
      /* アイコンバッジ */ }
      .yu-theme-cool header ul li.yu-badge::before {
        position: absolute;
        background: #E15966; }
    .yu-theme-cool header .yu-logout:hover {
      color: #E15966; }
  .yu-theme-cool aside {
    /* ユーザー情報 */
    /* リスト */ }
    .yu-theme-cool aside .yu-user {
      /* ユーザー名 */ }
      .yu-theme-cool aside .yu-user p span i {
        color: #E15966; }
    .yu-theme-cool aside ul {
      /* サブカテゴリ */ }
      .yu-theme-cool aside ul li {
        /* アイコン */ }
        .yu-theme-cool aside ul li:hover {
          background: #d1e3f9; }
        .yu-theme-cool aside ul li i {
          color: #7CB0ED; }
      .yu-theme-cool aside ul.yu-sub li:hover {
        background: #d1e3f9; }
  .yu-theme-cool .yu-head-box.pink .fas {
    background: #7CB0ED; }
  .yu-theme-cool .yu-head-box.yellow .fas {
    background: #FAD783; }
  .yu-theme-cool .yu-head-box.blue .fas {
    background: #90D4E1; }
  .yu-theme-cool .yu-head-box.purple .fas {
    background: #7C96ED; }
  .yu-theme-cool .yu-pager {
    /* 番号ページャー */ }
    .yu-theme-cool .yu-pager.yu-foot-pager {
      margin: 10px 0 0; }
      .yu-theme-cool .yu-pager.yu-foot-pager li.yu-now {
        border: 1px solid #7C96ED !important;
        background: #7C96ED !important; }
    .yu-theme-cool .yu-pager.yu-head-pager li .fas:hover,
    .yu-theme-cool .yu-pager.yu-foot-pager li:hover {
      color: #7C96ED;
      border: 1px solid #7C96ED; }
