<header>
  <div class="yu-box">
    <div class="yu-l-box">
      <h1><%= image_tag "yukiusagi/logo.svg", alt: "" %><span>VER 0.1</span></h1>
      <p class="yu-message">今日はMM月DD日。</p>
    </div>
    <div class="yu-r-box">
      <ul>
        <li class="yu-badge yu-wobble"><i class="far fa-envelope"></i></li>
        <li class="yu-badge yu-wobble"><i class="far fa-bell"></i></li>
      </ul>
      <%= image_tag "yukiusagi/prof.png", class: "yu-prof", alt: "" %>
      <p class="yu-name">エイシス株式会社</p>
    </div>
  </div>
  <a href="" class="yu-logout"><i class="fas fa-sign-out-alt"></i></a>
</header>
