<aside>
  <div class="yu-user">
    <img src="../../assets/images/prof.png" class="yu-prof" alt="">
    <p class="yu-name"><span><i class="fas fa-circle"></i>オンライン中</span>エイシス株式会社</p>
  </div>
  <!--<div class="search">
  <i class="fas fa-search"></i>
  <input type="text" placeholder="検索する">
  </div>-->
  <ul>
    <li><i class="fas fa-archive"></i>ダッシュボード</li>
    <li><i class="fas fa-book"></i>レイアウトオプション</li>
    <ul class="yu-sub">
      <li>サブカテゴリがはいります</li>
      <li>サブカテゴリがはいります</li>
      <li>サブカテゴリがはいります</li>
    </ul>
    <li><i class="fas fa-print"></i>ウィジェット</li>
    <li><i class="fas fa-chart-pie"></i>チャート</li>
    <li><i class="fas fa-paw"></i>UIエレメント</li>
    <ul class="yu-sub">
      <li>サブカテゴリがはいります</li>
      <li>サブカテゴリがはいります</li>
      <li>サブカテゴリがはいります</li>
    </ul>
    <li><i class="far fa-map"></i>ドキュメンテーション</li>
  </ul>
</aside>
