<div class="yu-wrap">
  <div class="yu-wrap-box">
    <section class="yu-box yu-box-4">
    <h2>データ詳細テーブル<i class="fas fa-times"></i></h2>
    <table class="yu-list-table">
        <tr>
        <th>会員番号</th>
        <td><input type="text"></td>
        </tr>
        <tr>
        <th>氏名</th>
        <td><input type="text"></td>
        </tr>
        <tr>
        <th>住所</th>
        <td><input type="text"></td>
        </tr>
        </table>
        <table class="yu-list-table">
        <tr>
            <th>セレクトボックス</th>
            <td><select></select></td>
        </tr>
        <tr>
            <th>テキストエリア</th>
            <td><textarea></textarea></td>
        </tr>
        <tr>
            <th>チェックボックス</th>
            <td>
            <div class="yu-chk-box">
                <input type="checkbox" id="checkbox01" name="demo" /><label for="checkbox01">選択してください</label>
                <input type="checkbox" id="checkbox02" name="demo" /><label for="checkbox02">選択してください</label>
                <input type="checkbox" id="checkbox03" name="demo" /><label for="checkbox03">選択してください</label>
            </div>
            </td>
        </tr>
        <tr>
            <th>ラジオボタン</th>
            <td>
            <div class="yu-rdo-box">
                <input type="radio" id="radiobox01" name="demo" /><label for="radiobox01">選択してください</label>
                <input type="radio" id="radiobox02" name="demo" /><label for="radiobox02">選択してください</label>
                <input type="radio" id="radiobox03" name="demo" /><label for="radiobox03">選択してください</label>
            </div>
            </td>
        </tr>
    </table>
    <div class="yu-btn-box">
        <input type="button" class="yu-update-btn" value="編集">
        <input type="button" class="yu-delete-btn" value="削除">
    </div>
    </section>
  </div>
</div>
