<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>🐰</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../assets/stylesheets/yukiusagi/import.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>Document</title>
  </head>
  <body>
    <header>
        <div class="box">
           <div class="l-box">
                <h1><img src="../../assets/images/logo.svg" alt=""><span>VER 0.1</span></h1>
                <p class="message">今日はMM月DD日。スライムの日なんだと〜</p>
            </div>
            <div class="r-box">
                <ul>
                    <li class="badge"><i class="far fa-envelope"></i></li>
                    <li class="badge"><i class="far fa-bell"></i></li>
                </ul>
                <img src="../../assets/images/prof.png" class="prof" alt="">
                <p class="name">エイシス株式会社</p>
            </div>
        </div>
        <a href="" class="logout"><i class="fas fa-sign-out-alt"></i></a>
    </header>
    <article>
        <aside>
            <div class="user">
                <img src="../../assets/images/prof.png" class="prof" alt="">
                <p class="name"><span><i class="fas fa-circle"></i>オンライン中</span>エイシス株式会社</p>
            </div>
            <!--<div class="search">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="検索する">
            </div>-->
            <ul>
                <li><i class="fas fa-archive"></i>ダッシュボード</li>
                <li><i class="fas fa-book"></i>レイアウトオプション</li>
                <ul class="sub">
                    <li>サブカテゴリがはいります</li>
                    <li>サブカテゴリがはいります</li>
                    <li>サブカテゴリがはいります</li>
                </ul>
                <li><i class="fas fa-print"></i>ウィジェット</li>
                <li><i class="fas fa-chart-pie"></i>チャート</li>
                <li><i class="fas fa-paw"></i>UIエレメント</li>
                <ul class="sub">
                    <li>サブカテゴリがはいります</li>
                    <li>サブカテゴリがはいります</li>
                    <li>サブカテゴリがはいります</li>
                </ul>
                <li><i class="far fa-map"></i>ドキュメンテーション</li>
            </ul>
        </aside>
        <main>
            <div class="alert"><p>ここにアラート文字がはいるんだぴょん！インストールありがとぴょん！</p><i class="fas fa-times"></i></div>
            <div class="wrap">
                <div class="head-box pink">
                   <i class="fas fa-laptop"></i>
                    <h3><span>日本語の見出し</span>SETTING</h3>
                    <p class="num">200</p>
                </div>
                <div class="head-box blue">
                   <i class="fas fa-cogs"></i>
                    <h3><span>日本語の見出し</span>TRAFFIC</h3>
                    <p class="num">1,000,000</p>
                </div>
                <div class="head-box yellow">
                   <i class="fas fa-toolbox"></i>
                    <h3><span>ゆきうさぎGEM</span>🐰</h3>
                    <p class="num">1,000,000</p>
                </div>
                <div class="head-box purple">
                   <i class="fas fa-gem"></i>
                    <h3><span>新しいボックス！？</span>日本語</h3>
                    <p class="num">100,293</p>
                </div>
            </div>
            <div class="wrap">
                <section class="yu-box box-4">
                    <h2>テーブル<i class="fas fa-times"></i></h2>
                    <span class="yu-lbl lbl-purple">ラベル</span><span class="yu-lbl lbl-yellow">注意くん</span><span class="yu-lbl lbl-blue">正常ですね</span><span class="yu-lbl lbl-pink">ゆきうさぎちゃん</span>
                    <table>
                        <tr>
                            <th>番号</th>
                            <th>氏名</th>
                            <th>住所</th>
                            <th>編集</th>
                            <th>削除</th>
                        </tr>
                        <tr>
                            <td>N0392201</td>
                            <td>小山内　さや香</td>
                            <td>東京都渋谷区千駄ヶ谷5-20-11 第一シルバービル203</td>
                            <td><input type="button" value="編集"></td>
                            <td><input type="button" value="削除"></td>
                        </tr>
                        <tr>
                            <td>N0939204</td>
                            <td>雪　兎</td>
                            <td>ねお東京シティ中野区ヤマト町シンデレラプリンス1201号室</td>
                            <td><input type="button" class="update-btn" value="編集"></td>
                            <td><input type="button" class="delete-btn" value="削除"></td>
                        </tr>
                        <tr>
                            <td>N9302842</td>
                            <td>白雪　姫子</td>
                            <td>東京都渋谷区千駄ヶ谷5-20-11 第一シルバービル203</td>
                            <td><input type="button" class="update-btn" value="編集"></td>
                            <td><input type="button" class="delete-btn" value="削除"></td>
                        </tr>
                        <tr class="valid">
                            <td>N0295812</td>
                            <td>黄金　太郎丸ここレスポンシブ</td>
                            <td>サンフラン東京 もう大丈夫だよ論理削除されたら廃止になっちゃうね悲しい…</td>
                            <td><input type="button" class="update-btn" disabled value="編集"></td>
                            <td><input type="button" class="delete-btn" disabled value="削除"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </section>
                <section class="yu-box box-2">
                    <h2>なぜやるのか<i class="fas fa-times"></i></h2>
                    <h3>やりたいからやる！それ以外に理由があるのでしょうか。</h3>
                    <img src="https://res.cloudinary.com/bagelee/image/upload/v1500620698/t1_oeqzsp.png" alt="">
                    <p>eishisでは、お客様の満足を実現する為、サイトやシステム開発に関わる幅広いサービスをご提供しています。デザインやシステム開発はもちろん、新規サービス開発の経験から市場調査や企画もお手伝いしています。またツールの導入やスマートフォンアプリケーション開発や連携まで、幅広くご相談いただけます。</p>
                </section>
                <section class="yu-box box-2">
                    <h2>フォーム群<i class="fas fa-times"></i></h2>
                    <h3>テキストインプット<span class="req">必須</span></h3>
                    <input type="text" placeholder="プレースホルダーくん！">
                    <textarea class=""></textarea>
                    <h3>パスワード<span class="req">必須</span></h3>
                    <input type="password">
                    <h3>ドロップダウン</h3>
                    <select><option value="ゆきうさぎはかわいんだお">ゆきうさぎはかわいんだお</option></select>
                    <h3>ラジオボタン/チェックボックス</h3>
                    <div class="chk-box">
                        <input type="checkbox" id="checkbox01" name="demo" /><label for="checkbox01">選択してください</label>
                        <input type="checkbox" id="checkbox02" name="demo" /><label for="checkbox02">選択してください</label>
                        <input type="checkbox" id="checkbox03" name="demo" /><label for="checkbox03">選択してください</label>
                    </div>
                    <div class="rdo-box">
                        <input type="radio" id="radiobox01" name="demo" /><label for="radiobox01">選択してください</label>
                        <input type="radio" id="radiobox02" name="demo" /><label for="radiobox02">選択してください</label>
                        <input type="radio" id="radiobox03" name="demo" /><label for="radiobox03">選択してください</label>
                    </div>
                    <div class="btn-box">
                        <input type="button" class="update-btn" value="編集">
                        <input type="button" class="delete-btn" value="削除">
                    </div>
                </section>
                <section class="yu-box box-1">
                    <h2>🐰<i class="fas fa-times"></i></h2>
                    <img src="https://pics.prcm.jp/luvbrowncony/74873769/png/74873769.png" style="width: 120px !important" alt="">
                    <p><center>あ、コニーだ！</center></p>
                </section>
                <section class="yu-box box-3">
                    <h2>!!?!?!!<i class="fas fa-times"></i></h2>
                    <img src="https://res.cloudinary.com/bagelee/image/upload/v1524717761/2_yvp7qv.png" alt="">
                    <p>私たちは、何よりも仕事を「楽しむ」ことを重視しています。 仕事を前向きに楽しむことで、より仕事への意欲も高まり、個人と企業の成長に繋がると私たちは考えています。 労働環境を良くし、従業員とその家族・そしてクライアントを幸せにすることをミッションとしています。</p>
                    <p>また、一方でデザインや開発力を高め、世界に誇れるレベルにならなくてはいけないと考えています。 その為にも海外から最新の情報を仕入れ、またいち早く試し情報を公開しています。 そして自分たちもオープンソースへの貢献含め、デザインや技術の進歩に貢献できる集団でありたいと考えています。</p>
                    <img src="https://res.cloudinary.com/bagelee/image/upload/v1524717761/9_yfk5ek.png" alt="">
                    <p>今回の募集については、よりeishisを高いレベルに引っ張っていくことができる、経験が2年以上の方に限定した募集となります。 興味のある方はまずは気軽にメッセージをください。</p>
                </section>
                <section class="yu-box box-4">
                    <h2>めでたしの如し<i class="fas fa-times"></i></h2>
                    <p>ユキウサギ (Lepus timidus)はウサギ目ウサギ科ノウサギ属に属するウサギである。日本には亜種エゾユキウサギが分布している。</p>
                    <input type="text" placeholder="幅は親要素に合わせてるよ！">
                    <textarea placeholder="絵文字使えるけどもちろんそのままだよ🐰透明度かけちゃった"></textarea>
                    <div class="btn-box">
                        <input type="button" class="update-btn" value="編集">
                    </div>
                </section>
            </div>
        </main>
    </article>
  </body>
</html>
