<div class="yu-wrap">
  <div class="yu-wrap-box">
    <section class="yu-box yu-box-4">
    <h2>表示テーブル<i class="fas fa-times"></i></h2>
    <nav class="yu-pager yu-head-pager">
        <ul>
        <li><i class="fas fa-chevron-left"></i></li>
        <li><span class="yu-now">1-15</span>件 表示 / 全<span class="yu-all">3,000</span>件</li>
        <li><i class="fas fa-chevron-right"></i></li>
        </ul>
    </nav>
    <table>
        <tr>
        <th>番号</th>
        <th>氏名</th>
        <th>住所</th>
        <th>編集</th>
        <th>削除</th>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr class="yu-valid">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr class="yu-valid">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
    </table>
    <nav class="yu-pager yu-foot-pager">
        <ul>
        <li><i class="fas fa-chevron-left"></i></li>
        <li class="yu-now">1</li>
        <li>2</li>
        <li>3</li>
        <li class="yu-period">……</li>
        <li>99</li>
        <li><i class="fas fa-chevron-right"></i></li>
        </ul>
    </nav>
    </section>
  </div>
</div>
