<div class="yu-wrap">
  <div class="yu-wrap-box">
    <section class="yu-box yu-box-4">
      <h2>データ詳細テーブル<i class="fas fa-times"></i></h2>
      <table class="yu-list-table">
        <tr>
          <th>会員番号</th>
          <td>N0392201</td>
        </tr>
        <tr>
          <th>氏名</th>
          <td>小山内　さやか</td>
        </tr>
        <tr>
          <th>住所</th>
          <td>東京都渋谷区千駄ヶ谷5-20-11 第一シルバービル203</td>
        </tr>
      </table>
      <table class="yu-list-table">
        <tr>
          <th>項目名</th>
          <td>データが入ります</td>
        </tr>
        <tr>
          <th>項目名</th>
          <td>データが入ります</td>
        </tr>
        <tr>
          <th>項目名</th>
          <td>データが入ります</td>
        </tr>
      </table>
      <div class="yu-btn-box">
        <input type="button" class="yu-update-btn" value="編集">
        <input type="button" class="yu-delete-btn" value="削除">
      </div>
    </section>
  </div>
</div>
